<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Licitatii auto. Masini. Autoturisme.">
        <meta name="keywords" content="licitatii, auto, masina, autoturism">

        <title>AuctionRider</title>
        <%- include("../fragmente/head") %>
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.poza %>" alt="[imagine <%- locals.prod.marca %>]" />
                    </figure>
                    <h3><span class="nume"><%- locals.prod.marca %> <%- locals.prod.model%> <%- locals.prod.generatie%></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Caroserie: <span class="caroserie"><%- locals.prod.caroserie %> </span></p>
                    <p>An: <span class="an"><%- locals.prod.an %> </span></p>
                    <p>Kilometraj: <span class="km"><%- locals.prod.km %> </span></p>
                    <p>Combustibil: <span class="combustibil"><%- locals.prod.combustibil %> </span></p>
                    <p>Capacitate cilindrica: <span class="cap_cilindrica"><%- locals.prod.capacitate_cilindrica %> </span></p>
                    <p>Cai putere: <span class="cai-putere"><%- locals.prod.cp %> </span></p>
                    <p>Transmisie: <span class="transmisie"><%- locals.prod.transmisie %> </span></p>
                    <p>Dotari: <span class="dotari"><%- locals.prod.dotari %> </span></p>
                    <p>Locatie: <span class="locatie"><%- locals.prod.locatie %> </span></p>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.data_adaugare %> </span></p>

                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>