<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Licitatii auto. Masini. Autoturisme.">
        <meta name="keywords" content="licitatii, auto, masina, autoturism">

        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />

        <title>AuctionRider</title>

        <%- include("../fragmente/head") %>

        <script type="text/javascript" src=/resurse/js/produse.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>



    <main>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <label for="inp-caroserie" class="form-label">Alege caroseria:</label>
                    <input class="form-control" list="datalistOptions" id="inp-caroserie" placeholder="Completeaza tipul de caroserie...">
                    <datalist id="datalistOptions">
                        <%for(let caroserie of locals.optiuniMeniu){%>
                        <option value="<%-caroserie%>">
                            <%}%>
                    </datalist>
                </div>
                <div class="col-6">
                    <label for="inp-descriere"> Cauta in descriere: </label>
                    <input type="text" class="form-control" id="inp-descriere">
                </div>
            </div>

            <div class="row">
                <div class="col-auto col-6 form-floating mt-1">
                    <textarea class="form-control" rows="1" id="inp-nume" placeholder="Introduceti marca"></textarea>
                    <label for="inp-nume"> Marca: </label>
                </div>
                <div class="col-auto col-6 ">
                    <label for="inp-transmisie">Alege transmisia:</label>
                    <select class="form-select" id="inp-transmisie" aria-label="Default select example">
                        <option selected>Transmisie</option>
                        <%for(let t of locals.opt_transimie){%>
                        <option value="<%-t%>"><%-t%></option>
                        <%}%>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-auto">
                    <input class="form-check-input" type="checkbox" id="inp-noutati" value="Nou" autocomplete="off">
                    <label class="form-label" for="inp-noutati">Noutati:</label>
                </div>
                <div class="col-auto">
                    <% var interval = {
                        st: Math.floor((locals.val_filtrare.maxKm - locals.val_filtrare.minKm) / 3 + locals.val_filtrare.minKm),
                        dr: Math.floor((locals.val_filtrare.maxKm - locals.val_filtrare.minKm) / 3 * 2 + locals.val_filtrare.minKm)
                    } %>
                    <div class="btn-group btn-group-toggle m-1">
                        <p><label class="btn btn-outline-primary m-1">KM &lt; <%-interval.st%>
                                <input id="i_rad1"  name="gr_rad" value="<%-locals.val_filtrare.minKm%>:<%-interval.st%>" type="radio"/>
                            </label></p>
                        <p><label class="btn btn-outline-primary m-1"><%-interval.st%> &le; KM &lt; <%-interval.dr%>
                                <input id="i_rad2"  name="gr_rad" value="<%-interval.st%>:<%-interval.dr%>" type="radio"/>
                            </label>
                        <p><label class="btn btn-outline-primary m-1"><%-interval.dr%> &le; KM
                                <input id="i_rad3" name="gr_rad" value="<%-interval.dr%>:<%-locals.val_filtrare.maxKm%>" type="radio"/>
                            </label>
                        <p><label class="btn btn-outline-primary m-1">Toate
                                <input id="i_rad4" checked name="gr_rad" value="Toate" type="radio"/>
                            </label>
                    </div>
                </div>
            </div>
            <div class="row  mb-2">
                <div class="col-auto">
                    <label class="form-label" for="inp-pret"> Pret minim:<span id="infoRangeMin"><%- locals.val_filtrare.minPret - 1%></span></label>
                        <input class="form-range" type="range" id="inp-pret" value="<%- locals.val_filtrare.minPret - 1%>" min="<%- locals.val_filtrare.minPret - 1%>"  max="<%- locals.val_filtrare.maxPret%>">
                        <span id="infoRangeMax"><%- locals.val_filtrare.maxPret%></span>
                        <span id="infoRange">(<%- locals.val_filtrare.minPret - 1%>)</span>
                </div>
                <div class="col-auto">
                    <label>Combustibil:
                        <select id="inp-combustibil" class="form-select" multiple aria-label=".form-select-sm example">
                            <option id="sel-toate" selected value="Toate">Toate</option>
                            <% for (let opt of locals.optiuni) { %>
                                <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                            <% } %>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <button id="filtrare" type="button" class="btn btn-outline-primary"><i class="bi bi-funnel"></i><span class="text-buton">Filtreaza</span></button>
                </div>
                <div class="col-auto">
                    <button id="resetare" type="button" class="btn btn-outline-primary"><i class="bi bi-x-lg"></i><span class="text-buton">Reseteaza</span></button><br/>
                </div>
                <div class="col-auto">
                    <button id="sortCrescAn" type="button" class="btn btn-outline-primary"><i class="bi bi-sort-up"></i><span class="text-buton">Sorteaza crescator</span></button>
                </div>
                <div class="col-auto">
                    <button id="sortDescrescAn" type="button" class="btn btn-outline-primary"><i class="bi bi-sort-down"></i><span class="text-buton">Sorteaza descrescator</span></button>
                </div>
                <div class="col-auto">
                    <button id="p-suma" type="button" class="btn btn-outline-primary"><i class="bi bi-calculator"></i><span class="text-buton">Suma</span></button>
<!--                    <p id="p-suma">Alt+C pentru suma preturilor</p>-->
                </div>
            </div>
        </div>

        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <p id="mesaj-filtre">Nu sunt produse disponibile. Modificati filtrele.</p>
                <%  var month = ["Ianuarie","Februarie","Martie","Aprilie","Mai","Iunie","Iulie","August","Septembrie","Octombrie","Noiembrie","Decembrie"];
                    var name = month[d.getMonth()];

                    var p_negociabil = "Nu";

                    nr=1;


                    for( let prod of locals.produse) {
                    if(prod.negociabil)
                        p_negociabil = "Da";
                    else
                        p_negociabil = "Nu";

                    d = prod.data_adaugare; %>
                    <article class="produs <%-prod.caroserie%>" id="artc-<%-prod.id%>>" >
                        <div class="flex-container-produse">
                            <div>
                                <h3 class="nume"><a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.marca%> <%- prod.model%> <%- prod.generatie%></span></a></h3>
                                <div class="val-transmisie" style="display: none;"><%-prod.transmisie%></div>
                                <p style="display: none" class="val-id"><%-prod.id %></p>
                            </div>
                            <div class="rand-flex-produse">
                                <div class="coloana-flex-produse">
                                    <figure>
                                        <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.poza %>" alt="[imagine <%- prod.marca %>]" /></a>
                                    </figure>
                                    <div class="info-prod">
                                        <p class="caracteristica pret">Pret: <span class="val val-pret"><%- prod.pret%></span></p>
                                        <p class="caracteristica negociabil">Negociabil: <span class="val val-neg"><%- p_negociabil%></span></p>
                                        <p class="caracteristica combustibil">Combustibil: <span class="val val-combustibil"><%- prod.combustibil%></span></p>
                                        <p class="caracteristica dotari">Dotari: <span class="val val-dotari"><%- prod.dotari%></span></p>
                                        <p class="caracteristica data-adaugarii">Data adaugarii: <time datetime="<%d%>" class="val val-data"><%-d.toLocaleString('default', {weekday: 'long'}).charAt(0).toUpperCase() + d.toLocaleString('default', {weekday: 'long'}).slice(1)%> <%- d.getDate()%> <%-name%> <%-d.getFullYear()%></time></p>
                                    </div>
                                </div>
                                <div class="coloana-flex-produse">
                                    <p class="caracteristica kilometraj">Kilometraj: <span class="val val-km"><%-prod.km%></span></p>
                                    <p class="caracteristica caroserie">Caroserie: <span class="val val-caroserie"><%- prod.caroserie%></span></p>
                                    <p class="caracteristica descriere">Descriere: <span class="val val-descriere"><%- prod.descriere%>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem cupiditate eveniet facilis mollitia quis quo voluptatibus. Ab alias aspernatur atque, beatae culpa cum delectus eius error esse est et eum harum id ipsa iste itaque natus nesciunt nobis obcaecati odit placeat praesentium provident quam quos saepe soluta temporibus? Aliquid atque aut consequuntur, deserunt dicta distinctio enim et facere fugit impedit incidunt ipsam labore maiores maxime minus, necessitatibus neque nulla odio omnis pariatur quaerat rerum sequi sit temporibus veritatis, vero voluptatem voluptatibus. Autem dolor maiores officiis! Adipisci culpa, fuga ipsum laudantium modi nemo praesentium, quaerat ratione rerum sed soluta totam.</span></p>
                                    <label class="selecteaza-cos">
                                        Selectează:<br/>
                                        <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                                    </label>
                                    <button class="erase btn btn-outline-primary" id="erase<%=nr%>" title="The product won't be displayed">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                        </svg>
                                    </button>

                                    <button class="stay btn btn-outline-primary" id="stay<%=nr%>" title="This product will stay on page">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sticky-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zm6 8.5a1 1 0 0 1 1-1h4.396a.25.25 0 0 1 .177.427l-5.146 5.146a.25.25 0 0 1-.427-.177V9.5z"/>
                                        </svg>
                                    </button>

                                    <button class="delete_session btn btn-outline-primary" id="del<%=nr%>" title="This product will be deleted during the whole session">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </button>
                                    <%nr++%>
                                </div>
                            </div>
                        </div>
                    </article>
                <% }%>
            </div>
        </section>
        <div id = "controale_pag">
            <button id="next" type="button" class="btn btn-outline-primary">Next</button>
            <button id="previous" type="button" class="btn btn-outline-primary">Previous</button>
        </div>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>