<div class="template_user">
    <section class="student">
        <h2>Student: <%= student.nume %></h2>
        <img src="/uploads/<%= student.poza %>" alt="[<%= student.nume %> nu are poza]" />
        <p id="id_student">Id: <%= student.id %></p>
        <p id="grupa">Id: <%= student.grupa %></p>

    </section>
</div>